

@media screen and (min-width: 480px) {
    .container {
         max-width: 480px; 
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin: 0 auto;
         /* padding-left: 15px;
    padding-right: 15px; */
    } 
}
@media screen and (min-width:320px) and (max-width:479px) {
    .container{
        width: 100%;
       display: flex;
       align-items: center;
         justify-content: space-between;
         margin: 0 auto;
    }
    .business-title {
        color: var(--color-text);
        max-width: 260px;
        font-weight: 900;
        font-size:18px;
        line-height: 2.33;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        /* padding-bottom: 30px; */
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .button-cont {
        display: block;
    }
      
}
.button-cont {
    display: block;
}
    .list-comun {
        display: none;
    }

    .nav-list {
        display: none;
    }
    .logo {
        padding: 16px 0;
      
    }
    .mobile-menu {
        display: flex; 
        flex-direction: column;
        position: fixed;
        z-index: 500;
        width: 100%;
        height: 100%;
        max-height: 796px;
top: 0;
left: 0;
padding: 48px 40px;
background-color: var(--color-text);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 500ms linear visibility 500ms linear;
    }
    .mobile-menu.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

    }
    .mobile-menu-open {
        background: transparent;
        border: none;
        fill: var(--color-nav);
        padding: 0;
        line-height: 0;
    }
    .button-close-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        border: none;
        fill: var(--color-nav);
    }
    .mobile-menu_contaner{
        position: relative;
        margin: 0;
        padding: 0;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
color: var(--color-one);
    }
    .mobile-menu-list{
        padding: 0;
        margin: 0;
    }
    .mobile-menu-item{
        margin-bottom: 32px;
        /* padding-bottom: 32px; */
    }
    .mobile-nav-link{
        font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
color: var(--color-nav);
    }
    .current {
        color: var(--color-one);
        position: relative;
    }
    .mobile-comun{
        margin: 0;
        padding: 0;
    }
    .mobile-contact{
        margin-top: auto;
       
    }
    .list-mobile-item{
        margin-bottom: 32px;
    }
    .mobile-heder-tel{
      font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.18;
letter-spacing: 0.02em;
color: var(--color-one);
    }
    @media screen and (min-width:320px) and (max-width:479px) {
        .mobile-heder-tel{font-size: 26px;
line-height: 1.53;}
        }
    .mobile-heder-email {
        font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;
color:var(--color-heder-tel);
    }
    .mobile-social-list{
        display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px;
    gap:10px 56px;
    }
    @media screen and (min-width:320px) and (max-width:479px) {
        .mobile-social-list{
            display: flex;
        justify-content: left;
        align-items: center;
        padding: 0px;
        gap:10px 30px;
        }
    }
    .mobile-social-link-employee{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: var(--color-text);
    background-color: var(--color-one);
    }
    .icon-social{
        padding: 0px;
        margin:0px;
        fill:currentColor;
    }
    .business {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img-mob-1.jpg);
        background-repeat: no-repeat;
        background-color: var(--color-bg-hero);
        max-width: 480px;
        height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
        margin: 0 auto;
        background-size: cover;
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .business {
    background-image: url(../images/hero-bg-img-mob-2.jpg);
    
  }
}
    .business .container {
        display: block;
        text-align: center;
    }
    .business-title {
        color: var(--color-text);
        max-width: 360px;
        font-weight: 900;
        font-size:26px;
        line-height: 1.61;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        /* padding-bottom: 30px; */
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    @media screen and (min-width:320px) and (max-width:479px) {
        .business-title {
            color: var(--color-text);
            max-width: 260px;
            font-weight: 900;
            font-size:18px;
            line-height: 2.33;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            /* padding-bottom: 30px; */
            margin: 0 auto;
            margin-bottom: 30px;
            margin-top: 0px;
        }
    }
    .button-service {
        display: flex;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        background-color: var(--color-one);
        color: var(--color-text);
        cursor: pointer;
        padding: 10px 20px;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: 0px;
        border-radius: 4px;
        margin: 0 auto;
        /* margin-left: auto;
        margin-right: auto; */
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .section {
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 60px;
        
}
.work-section {
    padding-top: 0px;
    padding-bottom: 0px;
}
    .advance {
        display: flex;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 30px;
       max-width: 450px;
        height: 120px;
        align-items: center;
        justify-content: center;
        background: var(--color-bg-advance);
            border-radius: 4px;
    }
    .advant-list {
        /* display: flex; */
        margin: 0 auto;
        padding: 0;
            
    }
    .nomargin{
        margin-top: 0px;
    }
    .advant-list .advant-list-title {
        text-align: center;
    }
    .our-work {
        display: none;
    }
    .our-team {
        margin: 0 auto;
        margin-bottom: 30px;
        font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-nav);
    }
      .our-work-list {
        display: none;
    }
    .our-clients{
        
        flex-wrap: wrap;
    }
    .our-clients-list{
        margin: 15px;
        flex-basis: calc(
        (100% - 2 * 30px) / 2); 
       padding: 0px;
     
}
.clients-link {
        max-width: 210px;
        height:92px;
} 
.our-team-list {
    /* display: flex; */
    padding-left: 0px;
    margin: 0 auto;
    margin: 0px -15px;
}
      .team-img {
    margin: 15px 15px;
        background: var(--color-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
} 
    .team-img  img {
      width: 100%;
    }
    .footer-blocks{
         display: block;
        
        animation-name: changeBgColor;
      }
.footerbox {
    text-align: center;
    padding-left: 0px;
 }
 .address-footer {
    margin-top: 28px;
    font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--color-text);
    }
    .footer-adress {
        margin: 0 auto;
       }
    .footer-contact {
        margin-top: 12px;
        margin-bottom: 0px;
        padding: 0;
    }
    .footer-link {
        margin-bottom: 12px;
    }
    .footer-social {
        /* display: block; */
        margin:0 auto;
        margin-top: 60px;
        text-align: center;
    }
    .foot-soc-list{
        display: flex;
        padding: 0px;
        margin: 0 auto;
        margin-top: 20px;
        justify-content: center;
        align-self: baseline;
        gap: 10px;
    }
 .footer-form-box{
    margin-left: auto;
    margin-top: 60px;
    text-align: center;
        }
    .input-footer {
        width: 100%;
        height: 50px;
        background: transparent;
        padding: 15px 16px;
        /* margin-right: 15px;
        margin-left: 15px; */
        font-size: 1.33;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          .btn-footer {
            display: flex;
        align-items: center;
            width: 200px;
            height: 50px;
            margin: 0 auto;
            margin-top: 20px;
            padding: 10px 28px;
            background-color: var(--color-one);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            border: none;
            font-weight: 700;
                font-size: 16px;
                line-height: 30px;
                color: var(--color-text);
          
        }
 .footer-form{
    
    
}
.backdrop {
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    width: 450px;
    min-height: 609px;
    background: var(--color-text);
    top:50%;
   left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    padding: 40px;
    
}
.policy-agreement{
    margin: 0;
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-heder-tel);
}
.policy-box{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding-left: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}
.policy-icon{
    position: absolute;
    left: 1px;
    top:50%;
    transform: translateY(-50%);
    border: 2px solid;
    border-radius:2px;
border-color: var(--color-nav);
transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), 
border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-link{
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--color-one );
}
@media screen and (min-width:320px) and (max-width:479px) {
    .modal {
        position: absolute;
        max-width: 320px;
        min-height: 609px;
        background: var(--color-text);
        top:50%;
       left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
        padding: 40px;
        
    }
}