 @media screen and (min-width: 768px) 
  {
    .container {
        max-width: 768px;
    }
    .mobile-menu {
        display: none;
    }
    .mobile-menu-open {
        display: none;
    }
    .logo {
    padding: 24px 0;

    }
    .heder-nav{
        margin: 0 auto;
        padding: 0;
        margin-left: 93px;
    }
    .tab-nav-list {
        display: flex;
        align-items: baseline;
        margin:0 auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0;
        
    } 
    .list-comun-item {
        display: flex;
        margin-left: 0px;
    }
    .nav-item {
        margin-right: 50px;
         margin-left: 0px; 
    }
    .tab-list-comun {
        display: block;
        margin-left: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        gap: 30px;
    }
    .heder-tel {
        display: flex;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--color-heder-tel);
        align-items: center;
        justify-content: left;
        padding: 0;
        padding-top:10px;
             }
             .icon-mail{
                display: inline-block;
                margin-right: 10px;
                width: 14px;
                height: 10px;
                fill:currentColor;
                
            }
            .icon-tel{
                display: inline-block;
                margin-right: 10px;
                width: 10px;
                height: 14px;
                fill:currentColor;
               }
    .button-cont {
        display: block;
    }
    .business {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img-tab-1.jpg);
        background-repeat: no-repeat;
        background-color: var(--color-bg-hero);
        max-width: 768px;
        height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
        margin: 0 auto;
        background-size: cover;
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .business {
    background-image: url(../images/hero-bg-img-tab-2.jpg);
    
  }
}
    .business .container {
        display: block;
        width: 360px;
        text-align: center;
    }
    .business-title {
        color: var(--color-text);
        width: 360px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        /* padding-bottom: 30px; */
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .button-service {
        display: block;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        background-color: var(--color-one);
        color: var(--color-text);
        cursor: pointer;
        padding: 10px 32px;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: 0px;
        border-radius: 4px;
        margin: 0 auto;
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .section {
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 60px;
        
}
 .work-section {
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px; 
}
.our-team{
    margin-bottom: 30px;
}
    .advance {
        display: flex;
        margin: 0;
        margin-bottom: 30px;        
       width: 354px;
        height: 120px;
        align-items: center;
        justify-content: center;
        background: var(--color-bg-advance);
        border-radius: 4px;
    }
    .advant-list .advant-list-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-nav);
        text-align: left;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .advant-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
        margin: -15px;
        
    }
    .advant-list-item {
        margin: 15px;
        flex-basis: calc((100% - 2 * 30px) / 2);
    }
.our-team-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin: 0 auto;
    margin: -15px;
   
}
.team-img {
    margin: 15px;
    background: var(--color-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-img  {
 flex-basis: calc(100% - 2 * 30px) / 2;
   width: 354px;
} 
.our-work {
    display: none;
}
.our-work-list {
    display: none;
}
.our-clients{
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
}
.our-clients-list{
    
    margin: 15px;
   flex-basis: calc(
    (100% - 3 * 30px) / 3); 
   padding: 0px;
 
  }
  .clients-link {
    width: 226px;
    height:92px;
} 
.footer-blocks{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    animation-name: changeBgColor;
  }
  .footerbox {
    text-align: center;
    padding-left: 76px;
    padding-right: 76px;
 }
  .footer-contact,
.footer-adress,
.logo-footer {
    text-align: center;
    padding-left: 0px;
 }
 .address-footer {
    margin-top: 20px;
    font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--color-text);
    }
    .footer-adress {
        margin: 0 auto;
       }
    .footer-contact {
        margin-top: 9px;
        margin-bottom: 0px;
        padding: 0;
    }
    .footer-link {
        margin-bottom: 9px;
    }
    .footer-social {
        margin:0 auto;
       text-align: center;
    }
    .foot-soc-list{
        display: flex;
        padding: 0px;
        margin: 0 auto;
        margin-top: 20px;
        /* justify-content: center;
        align-self: baseline; */
        gap: 10px;
    }
    .input-footer {
        width: 358px;
        height: 50px;
        background: transparent;
        padding: 15px 16px;
        margin-right: 12px;
        font-size: 1.33;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    }
    .btn-footer {
        display: flex;
    align-items: center;
        width: 200px;
        height: 50px;
        padding: 10px 28px;
        background-color: var(--color-one);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            color: var(--color-text);
      
    }
    .footer-form-box{
        margin:0 auto;
        margin-top: 60px;
        text-align: center;
            }
 .footer-form{
    display: flex;
    flex-wrap: wrap;
    
}
.input-footer {
    width: 100%;
    height: 50px;
    
      }
  }